# Welcome to kubernetes cluster
# Hostname: {{ ansible_hostname }}
# IP Address: {{ ansible_default_ipv4.address }}
# Memory Size: {{ ansible_memtotal_mb }}
# Release: {{ ansible_distribution }}
# Cpus: {{ ansible_processor_vcpus }}
# Cpu Cores: {{ ansible_processor_cores }}
